---
layout: "base.liquid"
title: Whirlviz
---

<canvas id="audioCanvas"></canvas>
<div id="controls">
    <button id="playButton" class="button">Play</button>
    <input type="range" id="frequencySlider" min="0" max="100" value="50">
    <input type="range" id="volumeSlider" min="0" max="100" value="50">
</div>
<div id="frequencyDisplay">Oscillator Frequency: 0 Hz</div>
<div id="updateFrequencyDisplay">Update Frequency: 0 Hz</div>
<script type="module" src="js/main.js"></script>