---
layout: "base.liquid"
title: Whirlviz
---

<div class="main">
    <div class="audio-canvas-container">
        <canvas id="audio-canvas"></canvas>
    </div>
    <div class="controls">
        <button id="playButton" class="button">Play</button>
        <input type="range" id="gainSlider" min="0" max="100" value="50">
        <input type="range" id="volumeSlider" min="0" max="100" value="50">
    </div>
    <div id="log" class="console"></div>
    <div class="debug-canvas-container">
        <canvas id="debugCanvas"></canvas>
    </div>
    <div class="monitor"></div>
</div>

<script type="module" src="js/main.js"></script>